body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: black;
  font-family: "Poppins", sans-serif;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #916bbf;
  font-family: "Poppins", sans-serif;
}

.container li {
  float: left;
}

.container li a {
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container li a:hover {
  color: white;
  transition: 0.5s;
}

.container .title {
  padding-right: 600px;
}

.container img {
  float: left;
  height: 50px;
}

#footer a {
  color: #916bbf;
  margin: 10px;
  text-decoration: none;
}

#footer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #916bbf;
  height: 110px;
  margin-top: 125px;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
}

#footer p {
  font-size: 14px;
}

@media screen and (max-width: 426px) {
  #icon {
    width: 30px;
    height: 30px;
  }

  ul li {
    font-size: 12px;
  }

  #footer p {
    font-size: 10px;
  }
}
@media screen and (min-width: 2560px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  #footer p {
    font-size: 16px;
  }
}
h2 {
  color: #916bbf;
}

.featured-products {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.featured-products-title {
  text-align: center;
}

.featured-product-item {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: #916bbf;
}

.featured-product-item-image {
  height: 355px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.featured-product-item > .title {
  font-size: 20px;
  font-weight: bold;
}

.featured-product-item > .description {
  color: black;
}

.featured-product-item > .price {
  font-style: italic;
}

button {
  outline: none;
  background: black;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.contact {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.feedback-input {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #916bbf;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  justify-content: center;
}

.feedback-input:focus {
  border: 2px solid lightskyblue;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type=submit] {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: #916bbf;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
  margin-top: -4px;
  font-weight: 700;
}

[type=submit]:hover {
  background-color: gray;
}

/*# sourceMappingURL=app.css.map */
