body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: black;
  font-family: "Poppins", sans-serif;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #916bbf;
  font-family: "Poppins", sans-serif;
}

.container li {
  float: left;
}

.container li a {
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container li a:hover {
  color: white;
  transition: 0.5s;
}

.container .title {
  padding-right: 600px;
}

.container img {
  float: left;
  height: 50px;
}

#footer a {
  color: #916bbf;
  margin: 10px;
  text-decoration: none;
}

#footer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #916bbf;
  height: 110px;
  margin-top: 125px;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
}

#footer p {
  font-size: 14px;
}

@media screen and (max-width: 426px) {
  #icon {
    width: 30px;
    height: 30px;
  }

  ul li {
    font-size: 12px;
  }

  #footer p {
    font-size: 10px;
  }
}
@media screen and (min-width: 2560px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  #footer p {
    font-size: 16px;
  }
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  float: left;
}

.hero-text h1 {
  color: white;
}

.hero-text p {
  font-size: 30px;
}

.hero-text a {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  margin: 0px 20px;
  padding: 12px 25px;
}

#firstB {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

#firstB:hover {
  background: #916bbf;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.contact {
  color: #916bbf;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.feedback-input {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #916bbf;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  justify-content: center;
}

.feedback-input:focus {
  border: 2px solid lightskyblue;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type=submit] {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: #916bbf;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
  margin-top: -4px;
  font-weight: 700;
}

[type=submit]:hover {
  background-color: gray;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://bookriot.com/wp-content/uploads/2020/09/vinyl-records-feature-700x375-1-1280x720.jpg");
  height: 47rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar Home Page */
.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav img {
  width: 50px;
  height: 50px;
  float: left;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.topnav a:hover {
  color: #916bbf;
  transition: 0.5s;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  float: left;
}

.hero-text h1 {
  color: white;
}

.hero-text p {
  font-size: 30px;
}

.hero-text a {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  margin: 0px 20px;
  padding: 12px 25px;
}

#firstB {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

#firstB:hover {
  background: #916bbf;
}

.p-heading {
  text-align: center;
  color: #916bbf;
  font-size: 3rem;
}

.card-format {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  border-radius: 0.1rem;
  min-width: 29rem;
  display: grid;
  background-color: #916bbf;
  text-align: center;
}
.card-img {
  width: 29rem;
  height: 25rem;
  object-fit: cover;
}
.card-body {
  margin: 0.4rem;
  flex-grow: 1;
}
.card-title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
.card-description {
  line-height: 1.2rem;
}
.card-price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
.card-price::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}
.card-btn {
  border: none;
  border-top: 1px solid black;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.card-btn:hover {
  color: blue;
}

@media screen and (min-width: 600px) {
  .card-format {
    width: 100%;
    max-width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }

  .card {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
    background-color: #916bbf;
    border: solid white 0.1rem;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
}
.Filter {
  color: white;
  text-align: center;
}

.main-heading {
  font-size: 3rem;
  color: #916bbf;
}

.testimonial-wrapper {
  text-align: center;
}

.testimon-container {
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  height: 200px;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem black;
  padding: 1rem;
}

.testimonial-container img {
  max-width: 40%;
  border-radius: 50%;
}

.testimonial-Review-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.testimonial-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #916bbf;
}

.Review {
  font-size: 2rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #916bbf;
}

.testimonial {
  font-size: 1.1rem;
}

.krmNah,
.jhmYzC {
  background-color: white !important;
}

.eAyARa {
  background-color: white !important;
}

.eWjCzc {
  background-color: grey !important;
  color: #916bbf;
}

/*# sourceMappingURL=app.css.map */
