h2 {
  color: #916bbf;
}
.featured-products {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.featured-products-title {
  text-align: center;
}

.featured-product-item {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: #916bbf;
}

.featured-product-item-image {
  height: 355px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.featured-product-item > .title {
  font-size: 20px;
  font-weight: bold;
}

.featured-product-item > .description {
  color: black;
}

.featured-product-item > .price {
  font-style: italic;
}

button {
  outline: none;
  background: black;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}
